*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: #F1F6F6;

    nav{
        display: flex;
        gap: 25px;

        a {
            text-decoration: none;
            color: #004A43;
            font-size: 16px;

        }
    }

    div {
        display: flex;
        gap: 20px;
        a {
            color: #7D77FC;
            font-size: 16px;
            text-decoration: none;
        }
    }
}
.hero{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 10px 100px;
    background-color: #F1F6F6;

    .bb{
        
        button{
            background-color: #FFAD3D;
            width: 386px;
            height: 67px;
            border-radius: 12px;
            font-size: 30px;
        }
        p{
            width: 70%;
            font-size: 24px;
            padding: 20px 0px;
        }
        h1{
            font-size: 48px;
            width: 60%;
        }
        .ff{
            display: flex;
            padding: 20px 0px;
        }
    }
}
.gg{
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #F1F6F6;


    p{
        color: #5C9992;
        font-size: 15px;

    }
}
.s1{
    text-align: center;
    .ss {
        padding-top: 30px;
        display: flex;
        gap: 60px;
        align-items: center;
    }
}
.hf{
    width: 100%;
    height: 100vh;
    padding: 10px 200px;
    .zz{
        p{  
            font-size: 30px;
            text-align: center;
            padding: 50px;
        }
    }
}

.aa {
    display: flex;
    justify-content: space-between;
    .pp {
        text-align: center;
        width: 390.656px;
        height: 173px;
    }
}
.cv{
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: space-between;
    .qq {
        width: 50%;
    }
    .box {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 30%;

        h1 {
            font-size: 32px;
            color: #004A43;
        }

        p {
            color: #345E5A;
            font-size: 15px;
        }
    }
}
.zaz{
    background-color: #F1F6F6;
    h2{
        text-align: center;
        font-size: 50px;
       
    }
}

.grid {
    
    .box-grid {
        width: 400px;
        height: 300px;
        background-color: #fff;
        gap: 20px;
        border-radius: 20px;
        h4{
            padding: 20px;
            font-size: 25px;

        }
        p{
            padding: 20px;
            font-size: 20px;
        }
    }
    .gh{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }
    .fd{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }
    .lll{
        display: flex;
        padding: 20px;
        h1{
            font-size: 30px;
        }
        img{
            width: 35px;
            height: 35px;
        }
    }
}
.bbg{
    background-color: #fff;
    width: 100%;
    .lkj{
        .repid{
            font-size: 40px;
            text-align: center;
        }
        .sos{
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 150px;
            .mm{
                width: 300px;
                height: 222px;
                h1{  
                    font-size: 30px;
                }
                p{
                    font-size: 20px;
                    padding: 20px;
                }
            }
        }
        .nhf{
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 150px;
            .mm{
                width: 300px;
                height: 222px;
                h1{  
                    font-size: 30px;
                }
                p{
                    font-size: 20px;
                    padding: 20px;
                }
            }
        }

    }
}
.aziz{
    background-color: #F1F6F6;
    width: 100%;
    font-size: 30px;
    .nm{
        width: 900px;
        margin: 0 auto;
        padding: 100px 0px;
        .dsd{
            display: flex;
            height: 33px;
            gap: 20px;
            padding: 100px 0px;
            p{
                font-size: 20px;
            }
            img{
                height: 30px;
            }
        }
    }
    
}
.dsc{
    width: 100%;
    height: 50vh;
    background-color: #fff;
    .ffd{
        width:  20%;
        
        img{
         width: 100%;
        }
    }
    .mrg{
    text-align: center;
        h1{
            font-size: 40px;
        }
    }
    .ghhh{
        display: flex;
        justify-content: center;
        gap: 400px ;
        align-items: center ;
        padding: 50px;

        .cced{
            p{
                font-size: 30px;
                padding: 10px;
            }
        }
    }
}
.vfv{
    width: 100%;
    background-color: #F1F6F6;
    .vfgh{
        text-align: center;
        p{
            font-size: 40px;
        }
    }
    .vfvfvfvfvf{
        width: 1211px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        gap: 50px;
        padding: 50px;
        .gfjh{
            background-color: #fff;
            border-radius: 20px;
            img{
                width: 100%;
                padding: 10px;
            }
            h4{
                padding: 10px;
            }
            p{
                padding: 10px;
            }
            a{
                padding: 10px;
                text-decoration: none;
                color: #7D77FC;
            }
        }
        .dffg{
            background-color: #fff;
            border-radius: 20px;
            img{
                width: 100%;
                border-radius: 20px;
            }
            h4{
                padding: 10px;
            }
            p{
                padding: 10px;
            }
            a{
                padding: 10px;
                text-decoration: none;
                color: #7D77FC; 
            }
        }
    }
}
.finish{
    width: 100%;
    background-color: #004A43;
    .mhjn{
        text-align: center;
        padding: 450px;
        h1{
            font-size: 50px;
            color: #fff;
        }
        button{
            background-color: #FFAD3D;
            color: #004A43;
            width: 20%;
            height: 7vh;
            border-radius: 20px;
            font-size: 20px;
        }
    }
    .fil{
        display: flex;
        gap: 200px;
        .fghl{
            padding: 50px;
        }
        .hjkl{
            padding: 40px;
            p{
                font-size:25px;
                padding: 10px;
            }
            img{
                color: #fff;
                padding: 10px;
            }
            .ffd{
                display: flex;
            }
            .fghl{
                padding: 10px;
            }
        }
        .bobl{
            justify-content: center;
            font-size: 30px;
            gap: 20px;
            p{
                font-size: 25px;
                padding: 10px;
            }   
        }
       
    }
    
}
