* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  background-color: #F1F6F6;
}
header nav {
  display: flex;
  gap: 25px;
}
header nav a {
  text-decoration: none;
  color: #004A43;
  font-size: 16px;
}
header div {
  display: flex;
  gap: 20px;
}
header div a {
  color: #7D77FC;
  font-size: 16px;
  text-decoration: none;
}

.hero {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 10px 100px;
  background-color: #F1F6F6;
}
.hero .bb button {
  background-color: #FFAD3D;
  width: 386px;
  height: 67px;
  border-radius: 12px;
  font-size: 30px;
}
.hero .bb p {
  width: 70%;
  font-size: 24px;
  padding: 20px 0px;
}
.hero .bb h1 {
  font-size: 48px;
  width: 60%;
}
.hero .bb .ff {
  display: flex;
  padding: 20px 0px;
}

.gg {
  width: 100%;
  height: 30vh;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #F1F6F6;
}
.gg p {
  color: #5C9992;
  font-size: 15px;
}

.s1 {
  text-align: center;
}
.s1 .ss {
  padding-top: 30px;
  display: flex;
  gap: 60px;
  align-items: center;
}

.hf {
  width: 100%;
  height: 100vh;
  padding: 10px 200px;
}
.hf .zz p {
  font-size: 30px;
  text-align: center;
  padding: 50px;
}

.aa {
  display: flex;
  justify-content: space-between;
}
.aa .pp {
  text-align: center;
  width: 390.656px;
  height: 173px;
}

.cv {
  display: flex;
  align-items: center;
  padding-top: 50px;
  justify-content: space-between;
}
.cv .qq {
  width: 50%;
}
.cv .box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 30%;
}
.cv .box h1 {
  font-size: 32px;
  color: #004A43;
}
.cv .box p {
  color: #345E5A;
  font-size: 15px;
}

.zaz {
  background-color: #F1F6F6;
}
.zaz h2 {
  text-align: center;
  font-size: 50px;
}

.grid .box-grid {
  width: 400px;
  height: 300px;
  background-color: #fff;
  gap: 20px;
  border-radius: 20px;
}
.grid .box-grid h4 {
  padding: 20px;
  font-size: 25px;
}
.grid .box-grid p {
  padding: 20px;
  font-size: 20px;
}
.grid .gh {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.grid .fd {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.grid .lll {
  display: flex;
  padding: 20px;
}
.grid .lll h1 {
  font-size: 30px;
}
.grid .lll img {
  width: 35px;
  height: 35px;
}

.bbg {
  background-color: #fff;
  width: 100%;
}
.bbg .lkj .repid {
  font-size: 40px;
  text-align: center;
}
.bbg .lkj .sos {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 150px;
}
.bbg .lkj .sos .mm {
  width: 300px;
  height: 222px;
}
.bbg .lkj .sos .mm h1 {
  font-size: 30px;
}
.bbg .lkj .sos .mm p {
  font-size: 20px;
  padding: 20px;
}
.bbg .lkj .nhf {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 150px;
}
.bbg .lkj .nhf .mm {
  width: 300px;
  height: 222px;
}
.bbg .lkj .nhf .mm h1 {
  font-size: 30px;
}
.bbg .lkj .nhf .mm p {
  font-size: 20px;
  padding: 20px;
}

.aziz {
  background-color: #F1F6F6;
  width: 100%;
  font-size: 30px;
}
.aziz .nm {
  width: 900px;
  margin: 0 auto;
  padding: 100px 0px;
}
.aziz .nm .dsd {
  display: flex;
  height: 33px;
  gap: 20px;
  padding: 100px 0px;
}
.aziz .nm .dsd p {
  font-size: 20px;
}
.aziz .nm .dsd img {
  height: 30px;
}

.dsc {
  width: 100%;
  height: 50vh;
  background-color: #fff;
}
.dsc .ffd {
  width: 20%;
}
.dsc .ffd img {
  width: 100%;
}
.dsc .mrg {
  text-align: center;
}
.dsc .mrg h1 {
  font-size: 40px;
}
.dsc .ghhh {
  display: flex;
  justify-content: center;
  gap: 400px;
  align-items: center;
  padding: 50px;
}
.dsc .ghhh .cced p {
  font-size: 30px;
  padding: 10px;
}

.vfv {
  width: 100%;
  background-color: #F1F6F6;
}
.vfv .vfgh {
  text-align: center;
}
.vfv .vfgh p {
  font-size: 40px;
}
.vfv .vfvfvfvfvf {
  width: 1211px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  gap: 50px;
  padding: 50px;
}
.vfv .vfvfvfvfvf .gfjh {
  background-color: #fff;
  border-radius: 20px;
}
.vfv .vfvfvfvfvf .gfjh img {
  width: 100%;
  padding: 10px;
}
.vfv .vfvfvfvfvf .gfjh h4 {
  padding: 10px;
}
.vfv .vfvfvfvfvf .gfjh p {
  padding: 10px;
}
.vfv .vfvfvfvfvf .gfjh a {
  padding: 10px;
  text-decoration: none;
  color: #7D77FC;
}
.vfv .vfvfvfvfvf .dffg {
  background-color: #fff;
  border-radius: 20px;
}
.vfv .vfvfvfvfvf .dffg img {
  width: 100%;
  border-radius: 20px;
}
.vfv .vfvfvfvfvf .dffg h4 {
  padding: 10px;
}
.vfv .vfvfvfvfvf .dffg p {
  padding: 10px;
}
.vfv .vfvfvfvfvf .dffg a {
  padding: 10px;
  text-decoration: none;
  color: #7D77FC;
}

.finish {
  width: 100%;
  background-color: #004A43;
}
.finish .mhjn {
  text-align: center;
  padding: 450px;
}
.finish .mhjn h1 {
  font-size: 50px;
  color: #fff;
}
.finish .mhjn button {
  background-color: #FFAD3D;
  color: #004A43;
  width: 20%;
  height: 7vh;
  border-radius: 20px;
  font-size: 20px;
}
.finish .fil {
  display: flex;
  gap: 200px;
}
.finish .fil .fghl {
  padding: 50px;
}
.finish .fil .hjkl {
  padding: 40px;
}
.finish .fil .hjkl p {
  font-size: 25px;
  padding: 10px;
}
.finish .fil .hjkl img {
  color: #fff;
  padding: 10px;
}
.finish .fil .hjkl .ffd {
  display: flex;
}
.finish .fil .hjkl .fghl {
  padding: 10px;
}
.finish .fil .bobl {
  justify-content: center;
  font-size: 30px;
  gap: 20px;
}
.finish .fil .bobl p {
  font-size: 25px;
  padding: 10px;
}/*# sourceMappingURL=staili.css.map */